* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-image: url(IMG/b10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      background-position: center top;
    background-attachment: fixed;
}
.main {
    background: #1560bd;
    padding: 15px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    color: #fff;
}


nav a {
    text-decoration: none;
    color: #000;
    background: rgb(226, 223, 246);
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 4px;
    margin: 0 8px;
}



nav a.active {
    background: rgb(17, 127, 134);
    color: #fff;
}

button {
    background: #ffc107;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.datetime {
    width: 130px;
    height: 130px;
    margin: 20px 0 0 40px;
    color: #1560bd;
    background: #ece7e7bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #1560bd;
    text-align: center;
}


.datetime h4 {
    font-size: 12px;
    margin-top: 7px;
}

.datetime p {
    margin: 0;
    font-size: 20px;
}
.first {
    background: #ece7e7bd;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    margin: -10px auto 0;
}

.first select,
.first input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #ffffffdb;
}
.first button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #1560bd;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.last {
    background: #1560bd;
    color: #fff;
    padding: 30px 40px 10px;
    margin-top: auto;
}

.last-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
}

.last-link,
.last-contact,
.last-about {
    width: 280px;
}

.last h3 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

.last a {
    color: #fff;
    text-decoration: underline;
    display: block;
    margin: 8px 0;
    transition: .3s;
}

.last a:hover {
    color: #ffc107;
    padding-left: 5px;
}



.last ul li {
    margin: 8px 0;
}
.last-mission {
    width: 90%;
    margin: 25px auto 0;
    text-align: center;
}
.last hr {
    width: 100%;
    margin: 10px auto 20px;
    border: 0;
    border-top: 1px solid #ffffff66;
}


.copy {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #eee;
}




@media (max-width: 500px) {
    .main {
        padding: 10px;
    }
    nav {
        justify-content: space-between;
        gap: 10px;
    }
    nav a,
    nav button {
        padding: 6px 10px;
        font-size: 13px;
        margin: 0;
    }
    .datetime {
        margin: 20px auto;
    }
    .first {
        width: 95%;
        margin: 20px auto 0;
    }
    .popular.route {
        width: 94%;
        margin-top: 40px;
        padding: 20px 12px 25px;
    }
    .popular.route h2 {
        font-size: 25px;
    }
    .popular-list {
        grid-template-columns: 1fr;
    }
    .route-card {
        max-width: 400px;
        margin: auto;
    }
    .route-image {
        height: 180px;
    }
    .last {
        padding: 30px 20px 10px;
    }
    .last-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .last-link,
    .last-contact,
    .last-about {
        width: 100%;
        max-width: 320px;
    }
    .profile-name {
        display: none;
    }
}

